*.DS_Store
*.fasta
*.csv

# renv
renv/library/
renv/staging/
renv/sandbox/
renv/cellar/
renv/local/
renv/lock/
renv/python/
renv/cache/
Assignment2/adata_final_format_r.rds
Assignment2/Assignment_cache/
Assignment2/Assignment_files/
